pdf_reader_chatbot/pdf_reader_chatbot.json
{
  "name": "pdf_reader_chatbot_(main)",
  "nodes": [
    {
      "parameters": {
        "content": "## Add the data to vector DB",
        "height": 80,
        "width": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -48
      ],
      "typeVersion": 1,
      "id": "67e10f06-5aa1-424e-8016-46f93a49912c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Retrieve the data from Vevtor DB",
        "height": 80,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -48
      ],
      "typeVersion": 1,
      "id": "82de5c55-0f7d-4f50-bd2c-6e4bd7ab16e0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        512,
        112
      ],
      "id": "4514bb64-58e5-4184-bce3-cf06f6823266",
      "name": "When chat message received",
      "webhookId": "d2dba6f8-6b42-449d-865a-89ef4aee8640"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a calm, empathetic, and reliable support agent.\n\nYour primary goal is to help the user feel heard, understood, and supported while providing accurate, relevant information.\n\nBehavior guidelines:\n- Listen carefully to the user's intent before responding.\n- Acknowledge emotions when present (\"That sounds frustrating,\" \"I get why that's confusing\").\n- Be respectful, patient, and non-judgmental.\n- Use clear, simple language. Avoid unnecessary jargon.\n- If the user is distressed, prioritize emotional reassurance before giving technical or factual guidance.\n- Do not make assumptions. If something is unclear, ask one concise clarifying question.\n\nInformation guidelines:\n- Always prefer factual, grounded answers over speculation.\n- If you are unsure or information is missing, say so transparently.\n- Never fabricate facts, sources, or citations.\n\nCRITICAL - TOOL USAGE REQUIREMENT:\nYou MUST use the available tool to search the knowledge base for EVERY question the user asks. This is mandatory, not optional.\n\nProcess for EVERY user question:\n1. ALWAYS call the tool first to search the knowledge base\n2. Wait for the search results\n3. Answer based ONLY on what the tool returns\n4. If the tool returns no relevant information, tell the user \"I don't have information about that in my knowledge base\"\n\nDO NOT answer questions from your general knowledge. ALWAYS use the tool first.\n\nResponse style:\n- Be supportive, warm, and professional.\n- Structure answers clearly with short paragraphs or bullet points when helpful.\n- End responses by offering further help or next steps when appropriate."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        112
      ],
      "id": "e22935c9-91ad-49d0-9e48-6ee5b57b7df8",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        832,
        368
      ],
      "id": "acd6f830-850e-4473-8669-376510d8dcb3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VQOOlFX9CERBdIiEukywbzt6EoN3kyJu",
          "mode": "list",
          "cachedResultName": "PDF Reader Chatbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VQOOlFX9CERBdIiEukywbzt6EoN3kyJu"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        112
      ],
      "id": "d175d38a-4edf-4bc2-94e8-330a7fb34381",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "obu4YTBmCOqitqsN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        112
      ],
      "id": "6fb07e16-bf69-4e6e-b157-00304b075f41",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "obu4YTBmCOqitqsN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-workflow-1536",
          "mode": "list",
          "cachedResultName": "rag-workflow-1536"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        112,
        112
      ],
      "id": "ef19c60d-16eb-4d03-9bee-2e0917798faf",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hhbPypqSq5g8IoAV",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        320
      ],
      "id": "7178490a-3b8c-40e0-b527-3d20739e84df",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "l3RKZM6GYDJ0Y6l3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        320
      ],
      "id": "590cd69c-8606-4290-b6b0-77edd60c5716",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "description": "MANDATORY RULE - NO EXCEPTIONS:\nYou MUST use the vector store model for EVERY SINGLE question.\n\nProcess:\n1. User asks question\n2. You call the vector store tool (mandatory)\n3. You answer based ONLY on tool results\n4. If tool returns nothing, say \"I don't have that information\n\nDO NOT answer from your own knowledge. Tool usage is MANDATORY."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1008,
        368
      ],
      "id": "933c1f6a-17f4-4df1-b2af-eb86ce0ad3be",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1136,
        544
      ],
      "id": "07021a67-07af-4aa1-ba81-a301e88eb3d4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "l3RKZM6GYDJ0Y6l3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        368
      ],
      "id": "586e9fea-0dd9-4b36-aa03-ba835f68adc4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "l3RKZM6GYDJ0Y6l3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-workflow-1536",
          "mode": "list",
          "cachedResultName": "rag-workflow-1536"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        560
      ],
      "id": "b08d31fd-573a-41e6-9933-4b5d1adc8a92",
      "name": "Pinecone Vector Store1",
      "notesInFlow": true,
      "credentials": {
        "pineconeApi": {
          "id": "hhbPypqSq5g8IoAV",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        816,
        736
      ],
      "id": "1208affc-7152-4d05-9f9c-eb590ea36b8a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "l3RKZM6GYDJ0Y6l3",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "652f456b-9ec4-4b27-9061-12feaa24639a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90742431cc88bab38be46d6d8367abeedd50ff7e018e428ef7e56b3a880dd0b3"
  },
  "id": "kAfpy61mi6FUC5nWCs0eJ",
  "tags": []
}
